<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SessionSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CouponBlockSoapBinding" />
        <binding name="CouponCodeSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.broadmail.de/soap11/Session" binding="basicHttpBinding"
        bindingConfiguration="SessionSoapBinding" contract="Session.SessionWebservice"
        name="Session" />
      <endpoint address="http://api.broadmail.de/soap11/addons/CouponBlock"
        binding="basicHttpBinding" bindingConfiguration="CouponBlockSoapBinding"
        contract="CouponBlock.CouponBlockWebservice" name="CouponBlock" />
      <endpoint address="http://api.broadmail.de/soap11/addons/CouponCode"
        binding="basicHttpBinding" bindingConfiguration="CouponCodeSoapBinding"
        contract="CouponCode.CouponCodeWebservice" name="CouponCode" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>